/*
 * @Author: tarn.tianrun 
 * @Date: 2018-03-28 14:22:37 
 * @Last Modified by:   tarn.tianrun 
 * @Last Modified time: 2018-03-28 14:22:37 
 */


.dotstyle ul{position:relative;display:inline-block;margin:0;padding:0;list-style:none;cursor:default;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.dotstyle li{position:relative;display:block;float:left;margin:0 8px;width:16px;height:16px;cursor:pointer}
.dotstyle li a{top:0;left:0;width:150%;height:30%;outline:none;border-radius:15px;background-color:#fff;background-color:rgba(255,255,255,0.3);text-indent:-999em;cursor:pointer;position:absolute}
.dotstyle li a:focus{outline:none}
.dotstyle-fillin li a{background-color:transparent;box-shadow:inset 0 0 0 1px white;-webkit-transition:box-shadow 0.3s ease;transition:box-shadow 0.3s ease}
.dotstyle-fillin li a:hover,.dotstyle-fillin li a:focus{box-shadow:inset 0 0 0 1px rgba(255,255,255,0.6)}
.dotstyle-fillin li.current a{box-shadow:inset 0 0 0 8px white}